body {
    font-family: "Poppins", sans-serif;
}

/* CABEÇALHO */

header {
text-align: center;
padding: 15px;
font-weight: 600;
background: #ffffff;
box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
}

/* MAIN - PARTE PRINCIPAL */

main {
margin: 0 70px;
}

/* FILTROS */

.filtersContainer {
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 0;
}

#botoesContainer {
display: flex;
}

.estiloGeralBotoes {
border: 1.5px solid rgba(18, 184, 134, 0.05);
background: rgba(18, 184, 134, 0.05);
border-radius: 8px;
padding: 10px 20px;
cursor: pointer;
font-weight: 500;
color: #12b886;
font-size: 0.9rem;
margin-right: 10px;
}

#todos {
    min-width: 177px;
}

.estiloGeralBotoes--filter:hover {
background-color: #12b886;
color: #ffffff;
transition: ease-in-out 0.2s;
}

.botoesClickStyle {
background-color: #12b886;
color: #ffffff;
}

.containerBuscaPorNome {
display: flex;
justify-content: space-between;
}

.campoBuscaPorNome {
border: none;
padding: 0 10px;
background: #f1f3f5;
border-radius: 8px;
margin-right: 5px;
width: 250px;
color: #515252;
font-weight: 400;
}

.estiloGeralBotoes--botaoBuscaPorNome {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 15px;
gap: 10px;
background: #12b886;
border: 1.5px solid #12b886;
border-radius: 8px;
}

/* VALOR TOTAL */

.priceContainer {
    display: none;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 10px 20px;
}

.priceContainer div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.priceContainer div img {
    width: 2rem;
}

.priceContainer span {
    background-color: #212529;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

/*CONTAINER VITRINE*/

.containerVitrine {
display: flex;
width: 100%;
justify-content: space-between;
border-radius: 50px 0;
}

/* CONTAINER DE PRODUTOS */

.containerListaProdutos {
width: 75%;
}

.containerListaProdutos ul {
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
margin-top: 40px;
width: 100%;
}

.containerListaProdutos ul li {
border-radius: 8px;
transition: ease-in-out 0.1s;
width: calc(95% / 4);
margin-bottom: 30px;
margin-right: 10px;
position: relative;
padding: 2px;
min-width: 180px;
}

.containerListaProdutos ul li:hover {
box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}

.containerListaProdutos ul li img {
width: 100%;
}

.containerListaProdutos ul li h3 {
font-size: 1rem;
font-weight: 500;
margin: 10px 0 15px;
color: #212529;
}

.containerListaProdutos ul li p {
font-size: 0.7rem;
color: #212529;
font-weight: 500;
margin: 10px 0;
}
.containerListaProdutos ul li span {
font-size: 0.8rem;
font-weight: 400;
margin-top: 10px;
display: inline-block;
color: #868e96;
}
.containerListaProdutos ul li ol {
list-style: decimal;
color: #868e96;
font-size: 12px;
margin-left: 15px;
}
.containerListaProdutos ul li ol li {
margin: 0;
width: 100%;
}
.containerListaProdutos ul li button {
background-color: #12b8860d;
border-radius: 8px;
border: #12b8860d 1px solid;
color: #12b886;
padding: 5px;
transition: 0.5s;
position: absolute;
bottom: 0;
right: 0;
}
.containerListaProdutos ul li button:hover {
background-color: #12b886;
border: #12b886 1px solid;
color: white;
}
.containerListaProdutos ul li div {
display: flex;
justify-content: space-between;
padding: 5px;
}

.containerCarrinho {
    width: 25%;
    height: 400px;
}

.cabecalhoCarrinho {
    display: flex;
    flex-direction: row;
    background-color: #12b886;
    align-items: center;
    width: 18.125rem;
    height: 3.172rem;
    gap: 1rem;
    border-radius: 12px 12px 0 0;
    color: #ffffff;
    width: 100%;
}

.cabecalhoCarrinho img {
    margin-left: 20px;
}

.produtosCarrinho {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.75rem;
    align-items: center;
    height: 29.688rem;
    overflow-y:scroll;
}

.imagemSacola {
    position: relative;
    top: 5rem ;
    width: 3rem;
    height: 3rem;
}

.textoSacola {
    position: relative;
    top: 6rem;
    color: #868e96;
    font-size: 0.875rem;
    font-weight: 400;
    font-style: normal;
    max-width: 15.188rem;
    text-align: center;
}

.produtosCarrinho ul {
    height: 4.375rem;
    width: 100%;
}

.produtosCarrinho ul li {
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.divCardProduto {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
}

.imgProdutoCarrinho{
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 8px;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 4.375rem;
    width: 100%;
    margin-left: 0.75rem;
}

.descricao h2 {
    font-weight: 500;
    font-style: normal;
    font-size: 0.875rem;
}

.descricao span {
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    color: #868e96;
}

.descricao p {
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    color: #212529;
}

.remover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.476rem;
    height: 1.563rem;
}

.remover img {
 width: 0.563rem;
 height: 0.75rem;
 color: #12b886;
}

.botaoRemover {
    width: 1.476rem;
    height: 1.563rem;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lixeira {
    width: 0.563rem;
    height: 0.75;
}

.divQuantidade {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #F8F9FA;
    height: 3.688rem;
    align-items: center;
    padding: 1rem ;
}

.divQuantidade h3 {
    font-weight: 500;
    font-style: normal;
    font-size: 0.75rem;
}

.divPreco {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 3.688rem;
    align-items: center;
    padding: 1rem;
    font-weight: 500;
}

@media (max-width: 985px) {

    main {
        width: 95%;
        margin: 15px;
    }

    .filtersContainer {
        width: 100%;
        overflow-x: scroll;
    }

    .containerVitrine{
        width: 100%;
    }

    .containerListaProdutos {
        width: 80%;
    }

    .containerListaProdutos ul li {
        width: calc(80% / 3);
        margin-right: 2px;
    }
}

@media (max-width: 750px) {
    .containerVitrine {
        flex-direction: column;
        width: 100%;
    }

    .containerListaProdutos {
        width: 100%;
    }

    .containerListaProdutos ul{
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .containerCarrinho {
        width: 100%;
    }

    .produtosCarrinho {
        height: 7.563rem;
        overflow-y: scroll;
        margin-bottom: 1.8rem;
    }

    .produtosCarrinho ul li {
        margin-bottom: 0.75rem;
    }

    .imagemSacola {
        top: 2rem;
    }

    .textoSacola {
        top: 3rem;
    }

    .filtersContainer {
        width: 100%;
        flex-direction: column;
    }

    #botoesContainer {
        width: 100%;
        height: 3.5rem;
        flex-direction: row;
        overflow-x: scroll;
        align-items: flex-start;
    }

    .containerBuscaPorNome {
        justify-content: center;
        width: 100%;
        margin-top: 0.5rem;
    }

    .campoBuscaPorNome {
        width: 100%;
    }
}
 